### Intellij ###
.idea/
*.iml
*.iws
modules.xml
*.ipr
cmake-build-*/
out/
.idea_modules/

# VisualStudioCode
.vscode-test
.vscode
.history

# macOS
.DS_Store

### Terraform ###
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
